@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #c3c089;
    background-color: #3f3e2d;
    margin: 0;
    padding: 0;
    height: 200vh;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.playwrite {
    font-family: 'Playwrite AU QLD', sans-serif;
    font-size: 48px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #12c27f;
    display: inline-block;
    white-space: nowrap;
    border-right: 3px solid;
    animation: blink 0.75s step-end infinite;
}


.navbar {
    position: sticky;
    top: 0;
    background-color: #3f3e2d;
    color: #c3c089;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c3c089;
}

.navbar-links a {
    color: #c3c089;
    text-decoration: none;
    padding: 0 10px;
    transition: color 0.3s ease-in-out;
    padding-right: 20px;
}

.navbar-links a:hover {
    color: #12c27f;
}

.navcontainer {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    padding-left: 20px;
}

.navcontainer h2 {
    white-space: nowrap;
    margin: 0;
    padding-left: 10px;
}

.profilepic {
    border-radius: 50%;
    width: 200px;       
    height: 200px;
    margin: 0 auto;
    display: flex;
    background-image: url('images/profile.jpeg');
    background-size: 110%;
    background-position: center;
    margin-bottom: 20px;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.socials a {
    color: #c3c089;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.socials a:hover {
    color: #12c27f;
}

.content {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    font-size: 30px;
    text-align: center;
}

.content2 {
    font-size: 30px;
    background-color: #303022;
}

.section-container {
    height: 140vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container h2 {
    padding-top: 30px;
    font-size: 36px;
    color: #c3c089;
    text-align: center;
    margin: 40px 0 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.project {
    background-color: #303022;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
}

.project-image {
    background-color: #3f3e2d;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.project-image i {
    font-size: 48px;
    color: #c3c089;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.project-text {
    padding: 20px;
    color: #c3c089;
}

.project-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-text p {
    font-size: 16px;
    line-height: 1.5;
}
.aboutme {
    font-size: 20px ;
    background-color: #3f3e2d;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.footer-container {
    background-color: #3f3e2d;
    color: #c3c089;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}